/*DOC SETUP*/
html, body {
	height: 100%;
	margin: 0;
}

body {
	background-color: purple;
	font-family: sans-serif;
}

/**/ 
#main-section{
	display: grid;
	/*grid-template-columns: auto auto auto;*/
	grid-template-rows: 100vh;
	text-align: center;
	width: 100%;
}

.image-size{
	max-width: 15em;
	margin-right: 25px;
	float: left;
}

/*.box{
        width: 100%;
        height: 100%; 
        box-sizing: border-box;
        position: absolute;
        transition: 1s;
        background-repeat: no-repeat;
        background-size: 100%;
        text-align: center;
}*/

/*FIRST AREA*/

#section1{
	display: grid;
	justify-content: center;
	background-color: aqua;
}

#content-area-1 {
	margin: 25px;
	height: 25%;
	text-align: center;
}


#onebutt, #twobutt, {
	text-align: center;
}

#front{
	width: 100%;
}

#title-1 {

}

#textarea-1 {
	text-align: left;
}


/*SECOND AREA*/


#section2 {
	display: none;
	justify-content: center;
	background-color: hotpink;
	visibility: hidden;
}

#content-area-2 {
	margin: 25px;
	height: 25%;
}

#title-2 {

}

#textarea-2 {
	text-align: left;
}


/*THIRD AREA */


#section3 {
	display: none;
	justify-content: center;
	background-color: yellow;
	visibility: hidden;
}

#content-area-3 {
	margin: 25px;
	height: 25%;
}

#textarea-3 {
	text-align: left;
}

#title-3 {

}

